<%- include('partials/header.ejs'); -%>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/images/eugenio-mazzone-6ywyo2qtaZ8-unsplash.jpg" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
      <p>Photo by <a href="https://unsplash.com/@eugi1492?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Eugenio Mazzone</a> on <a href="https://unsplash.com/photos/blue-wooden-door-surrounded-by-book-covered-wall-6ywyo2qtaZ8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>
      
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">ACA Archive</h1>
      <p class="lead">Look up past recommendations made for the Aufricht family's annual Culture Awards.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <!-- Change to a login button that says Login to visit the archive or add a book -->
        <a type="button" href="/years" class="btn btn-primary btn-lg px-4 me-md-2">Visit the Archive</a>
        <a type="button" href="/books/new" class="btn btn-outline-secondary btn-lg px-4">Add a Book</a>
      </div>
    </div>
  </div>
</div>


<%- include('partials/footer.ejs'); -%>